{% extends 'base.html'%}


{%block title%}Register{%endblock%}



{% block content%}
	
<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 offset-lg-2 offset-md-1 float-md-center">
	<div class="jumbotron float-md-center" align="center">

		<form method="POST" accept-charset="utf-8">
			{% csrf_token %}

			
			<div class="form-group">
   				 <label for="formGroupExampleInput">Username</label>
   				 <input type="text" class="form-control" id="formGroupExampleInput"  name='username' placeholder="Enter Username"> 
  			</div>

			<div class="form-group">
   				 <label for="formGroupExampleInput">Email</label>
   				 <input type="text" class="form-control" id="formGroupExampleInput" name='Email' placeholder="Enter Email">
  			</div>

  			<div class="form-group">
   				 <label for="formGroupExampleInput">Password</label>
   				 <input type="password" class="form-control" id="formGroupExampleInput" name='pass1' placeholder="Enter password">
  			</div>

  			<div class="form-group">
   				 <label for="formGroupExampleInput">Confirm Password</label>
   				 <input type="password" class="form-control" id="formGroupExampleInput" name='pass2' placeholder="Confirm Password">
  			</div>
			
			 <button type="submit" class="btn btn-primary">Submit</button>
						
			
		</form>


	</div>
</div>



{% endblock%}
	